.container{
    position: relative;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 0;
}

.dateTime{
    position: relative;
    height: 100%;
    padding: 0.5rem;
}

.date{
    font-weight: bolder;
}

.info{
    position: relative;
    height: 100%;
    padding: 0.5rem;
    flex-grow: 1;
} 

.icons{
    position: relative;
    height: calc(100% - 0.5rem);
    aspect-ratio: 2.5/1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.canton{
    position: relative;
    height: calc(100% - 0.5rem);
    aspect-ratio: 1/1;
}

@media screen and (min-aspect-ratio: 13/9){
    .mobile{
        display: none;
    }
}

@media screen and (max-aspect-ratio: 13/9){
    .dateTime{
        height: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .info{
        height: auto;
        width: 100%;
    }
    .desktop{
        display: none;
    }
    .container{
        flex-wrap: wrap;
    }
    .canton{
        aspect-ratio: 1/1;
        width: 100%;
    }
    .icons{
        aspect-ratio: 3.5/1;
        height: auto;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
        padding: 0.5rem;
    }
}

.image{
    position: relative;
    height: 100%;
    aspect-ratio: 1/1;
}

.map{
    position: relative;
    height: 100%;
    aspect-ratio: 1/1;
    background: red;
}