.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    padding: 0.5rem;
}

.wrapper{
    position: relative;
    width: calc(100% - 3rem);
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.dateTime{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    font-size: 1.25rem;
}

.date{
    font-weight: bolder;
}

.event{
    font-style: italic;
}

.place{
    hyphens: auto;
}

.icons{
    position: relative;
    width: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    border-left: 1px solid black;
    margin: 0 0 0 0.5rem;
}

.iconsInner{
    position: relative;
    width: 2rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.5rem;
}

.image{
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
}

.canton{
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
}

.map{
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
}