.container{
    position: relative;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    padding: 0.5rem 0;
}

.dateTime{
    position: relative;
    height: 100%;
    padding: 0.5rem;
}

.date{
    font-weight: bolder;
}

.info{
    position: relative;
    height: 100%;
    padding: 0.5rem;
    flex-grow: 1;
} 

.icons{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.canton{
    position: relative;
    aspect-ratio: 1/1;
}


.image{
    position: relative;
    aspect-ratio: 1/1;
}

.map{
    position: relative;
    aspect-ratio: 1/1;
    background: red;
}

@media screen and (min-aspect-ratio: 13/9){
    .container{
        align-items: center;
    }
    .mobile{
        display: none;
    }
    .icons{
        height: calc(100% - 0.5rem);
        aspect-ratio: 2.5/1;
    }
    .map{
        height: 100%;
    }
    .image{
        height: 100%;
    }
    .canton{
        height: 100%;
    }
}

@media screen and (max-aspect-ratio: 13/9){
    .container{
        align-items: flex-start;
        align-content: flex-start;
    }
    .dateTime{
        height: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .info{
        height: auto;
        width: 100%;
    }
    .desktop{
        display: none;
    }
    .container{
        flex-wrap: wrap;
    }
    .icons{
        height: 5rem;
        width: 100%;
    }
    .canton{
        width: 3rem;
    }
    .image{
        width: 3rem;
    }
    .map{
        width: 3rem;
    }
}