.dekstop{
    position: relative;
}

.buttonRow{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media screen and (max-aspect-ratio: 13/9){
    .desktop{
        display: none;
    }
}

@media screen and (min-aspect-ratio: 13/9){
    .mobile{
        display: none;
    }
}

